extend layout

block content
    .duyi-content
        section.duyi-about-summary
            .duyi-about-summary-title.container
                p 渡一教育
                p 渡一的初衷是为了能让每一位学员对于人生做好充足的准备，以更好的姿态成功入职高薪企业。
                p 创造价值  用心服务  保障学员  持久发展
                span
            .duyi-about-summary-content
                .duyi-about-summary-content-item.duyi-about-summary-content-on
                    p About
                    p 公司于2009年启动互联网技术人才培养计划，目前培养的互联网技术人才已遍布全国及部分海外地区，是国内较早开设培养专业web前端技术人才的科技企业。
                    p 历经多年的市场累积，渡一独创“引导式教学”+“点对点教学服务”+“关卡制审核”系统，从而确保每位学员能在指定的培训周期中高质量的完成学习任务。
                    img(src="http://p6alxlphh.bkt.clouddn.com/DUYI.png")
                .duyi-about-summary-content-item.duyi-about-summary-content-tw
                    img(src="http://p6alxlphh.bkt.clouddn.com/picture2.png")
                .duyi-about-summary-content-item.duyi-about-summary-content-th
                    span.duyi-about-summary-content-th-border
                    .duyi-about-summary-content-th-wrapper
                        p Unique
                        ul
                            li 国内唯一“连续三年培养出年薪超过40W就业学员”的教育机构
                            li 国内唯一连续38个月，实现100%就业率，且学员年薪均过10W的教育机构
                            li 国内唯一可以和学员签订就业协议，就业年薪不足10W，全额退费的教育机构
                .duyi-about-summary-content-item.duyi-about-summary-content-fo
                    img(src="http://p6alxlphh.bkt.clouddn.com/picture3.png")
        section.duyi-about-poster
            .duyi-about-poster-content
                .duyi-about-poster-img-wrapper.duyi-dom-translate
                    img(src="http://p6alxlphh.bkt.clouddn.com/about-poster.png")
                .duyi-about-poster-intro
                    p.duyi-dom-translate 总想给你最好的
                    p.duyi-dom-translate 如果一个同学来到了渡一，走时只带走了技能，我们就不算成功。
                    p.duyi-dom-translate 在渡一，你不仅可以学到技术，更能提升个人修养，更加透彻的了解世界，进一步寻求自己的光荣和梦想。
                    p.duyi-dom-translate 虽然，光荣并不容易抵达。但，希望通过我们的努力，能帮你少走些弯路。在未来的人生轨迹中更快更好的找到属于自己的生活方式，这或许就是我们送给你最珍贵的礼物。

        section.duyi-about-join
            .duyi-about-join-wrapper
                .duyi-about-join-title.duyi-dom-translate
                    p JOIN US
                    P 热爱技术 热爱分享
                .duyi-about-join-content.duyi-dom-translate
                    .duyi-about-join-content-left
                        p web前端高级讲师
                        p.duyi-about-join-content-left-detail 岗位要求
                        p.duyi-about-join-content-left-detail 1. 熟练使用HTML，CSS，JavaScript、jQuery应用和web开发。
                        p.duyi-about-join-content-left-detail 2. 有CSS3、HTML5，GITHUB等前端实践经验，了解react ,redux ,vue, vuex, angularJS一种。
                        p.duyi-about-join-content-left-detail 3. 会使用至少一种前端自动化构建工具webpack，fis，gulp等。
                    .duyi-about-join-content-right
                        p JavaScript高级讲师
                        p.duyi-about-join-content-left-detail 岗位要求
                        p.duyi-about-join-content-left-detail 1. 精通JavaScript，对html5有深入的研究，并具有基于html5的平台框架和工具等方面的开发经验；
                        p.duyi-about-join-content-left-detail 2. 精通JQuery，JQuery Moblile，具有一定的渲染和控件编程经验；
                        p.duyi-about-join-content-left-detail 3. 精通css3，css2，熟练解决各种浏览器的兼容问题；
            .duyi-about-map
                p WE ARE HERE
                .duyi-about-map-content.duyi-dom-translate
                    #duyi-about-map-container
                    .duyi-about-map-address
                        span 地址：黑龙江哈尔滨南岗区金爵万象-三期-3号楼1612室
                        span 电话：400-678-6077