.duyi-content {
    padding-bottom: 563px;
    .duyi-student-employment {
        margin-top: 280px;
        .duyi-student-employment-title {
            text-align: center;
            p:nth-child(1) {
                color: #222;
                font-size: 62px;
                margin-bottom: 5px;
            }
            span {
                display: block;
                margin: 75px auto 0;
                width: 20px;
                height: 2px;
                background: #be926f;
            }
            p:nth-child(2) {
                font-size: 20px;
                color: #666;
            }
            @keyframes arrowMove {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(10px);
                }
                100% {
                    transform: translateY(0);
                }
            }
            .duyi-student-employment-arrow {
                font-family: STX;
                text-align: center;
                margin-top: 100px;
                font-size: 16px;
                color: #666;
            }
        }
        .duyi-student-employment-content {
            width: 100%;
            height: 890px;
            background-color: #222;
            margin-top: 48px;
            .duyi-student-employment-content-wrapper {
                margin: 0 auto;
                height: 100%;
                padding: 72px 8vw 70px;
                .duyi-student-employment-content-headline {
                    margin: 50px auto 0;
                    width: 166px;
                    height: 4px;
                    display: block;
                    background-color: #fff;
                }
                .duyi-student-employment-content-list {
                    color: #fff;
                    font-size: 12px;
                    margin-top: 142px;
                    height: 478px;
                    font-family: PingFangM;
                    .duyi-student-employment-ul {
                        float: left;
                        width: 33%;
                        .duyi-student-employment-li {
                            width: 100%;
                            height: 16px;
                            line-height: 16px;
                            text-align: left;
                            span {
                                display: inline-block;
                            }
                            span:nth-child(1) {
                                width: 28%;
                                text-align: right;
                            }
                            span:nth-child(2) {
                                width: 15%;
                                text-align: center;
                            }
                            @media (max-width: 1600px) {
                                span:nth-child(3) {
                                    width: 27%!important;
                                }
                            }
                            span:nth-child(3) {
                                width: 22%;
                            }
                            span:nth-child(4) {
                                width: 20%;
                            }
                            span:nth-child(5) {
                                width: 10%;
                            }
                        }
                    }
                }
                .duyi-student-employment-content-list:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
            
        }
    }
    .duyi-student-describe {
        margin-bottom: 100px;
        .duyi-student-describe-item {
            height: 890px;
            width: 100%;
            .duyi-student-describe-item-left {
                height: 100%;
                float: left;
            }
            .duyi-student-describe-item-right {
                height: 100%;
                float: right;
            }
        }
        .duyi-student-story {
            position: relative;
            .duyi-student-story-left {
                width: 40%;
            }
            .duyi-student-story-right {
                width: 60%;
                background-color: #e6e6e6;
            }
            .duyi-student-story-wrapper {
                position: absolute;
                top: 199px;
                height: 499px;
                width: 1300px;
                left: 50%;
                margin-left: -650px;
                .duyi-student-story-left-video {
                    float: left;
                    position: relative;                    
                    video {
                        width: 888px;
                        height: 100%;
                    }
                    .duyi-student-story-left-video-icon {
                        width: 100px;
                        height: 100px;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: 1px solid #fff;
                        border-radius: 50%;
                        background-color: rgba(0, 0, 0, .3);
                    }
                    .duyi-student-story-left-video-icon:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: 50%;
                        top: 50%;
                        border-style: solid;
                        border-color: transparent transparent transparent #fff;
                        border-width: 18px 0 18px 31px;
                        margin-left: -10px;
                        margin-top: -18px;
                    }
                    .duyi-student-story-left-video-time {
                        font-size: 14px;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 10px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        text-align: right;
                        box-sizing: border-box;
                        color: #fff;
                        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0),rgba(0, 0, 0, .8));
                        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
                        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
                        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
                        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(20, 0, 0, .8));
                        border-radius: 0;
                        background-color: rgba(0,0,0,0);
                    }
                }
                .duyi-student-story-right-wrapper {
                    position: relative;
                    float: right;
                    width: 412px;
                    height: 100%;
                    padding-left: 76px;
                    .duyi-student-story-right-icon {
                        margin-top: 7px;
                        span:nth-child(1) {
                            display: block;
                            width: 0;
                            height: 0;
                            border-top: 12px solid burlywood;
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;
                            transform: rotate(45deg);
                            margin-left: -7px;
                        }
                        span:nth-child(2) {
                            margin-top: 20px;
                            display: block;
                            width: 2px;
                            height: 70px;
                            background-color: burlywood;
                        }
                    }
                    .duyi-student-story-right-font {
                        position: absolute;
                        bottom: 0;
                        color: #666;                                              
                        .duyi-student-story-right-font-title {
                            font-size: 32px;
                        }
                        div:nth-child(2) {
                            font-size: 16px;
                            line-height: 26px;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .duyi-student-campus {
            .duyi-student-campus-title {
                text-align: center;
                p:nth-child(1) {
                    font-size: 40px;
                    color: #222;                
                }
                div {
                    background: url(http://p6alxlphh.bkt.clouddn.com/handdrag-line.png) no-repeat 50% 0 / contain;
                    width: 100%;
                    height: 2px;
                    margin: 30px 0 35px;
                    position: relative;
                    img {
                        position: absolute;
                        width: 32px;
                        height: 34px;
                        top: -15px;
                        animation: handMove 4s linear infinite both;
                    }
                }
                p:nth-child(3) {
                    font-size: 20px;
                    color: #666;
                    font-family: STX;
                }
            }
            .duyi-student-campus-content {
                position: relative;
                overflow: hidden;
                padding-left: 117px;
                margin-top: 58px;
                cursor: pointer;
                .duyi-student-campus-scroll-wrapper {
                    white-space: nowrap;
                    position: relative;
                    width: 6485px;
                    .duyi-student-campus-scroll-item {
                        display: inline-block;
                        margin-right: 50px;
                    }
                }
            }
        }
        .duyi-student-activity {
            .duyi-student-activity-title {
                text-align: center;
                margin-top: 168px;
                p:nth-child(1) {
                    font-size: 40px;
                    color: #222;
                    margin-bottom: 7px;
                }
                p:nth-child(2) {
                    font-size: 20px;
                    color: #666;
                    font-family: STX;
                }
                span {
                    display: block;
                    margin: 35px auto 0;
                    width: 20px;
                    height: 2px;
                    background: #be926f;
                }
            }
            .duyi-student-activity-content {
                position: relative;
                overflow: hidden;
                padding-left: 117px;
                margin-top: 64px;
                cursor: pointer;
                height: 635px;
                padding-top: 5px;
                .duyi-student-activity-scroll-wrapper {
                    white-space: nowrap;
                    position: relative;
                    width: 7530px;
                    .duyi-student-activity-scroll-item {
                        display: inline-block;
                        margin-right: 206px;
                        width: 1300px;
                        padding: 46px 38px;
                        box-shadow: 2px 2px 12px #999;
                        border-radius: 10px;
                        .duyi-student-activity-scroll-item-font {
                            display: inline-block;
                            margin-left: 50px;
                            position: absolute;
                            bottom: 46px;
                            .duyi-student-activity-scroll-item-title {
                                color: #222;
                                font-size: 28px;
                                text-indent: -13px;
                            }
                            .duyi-student-activity-scroll-item-detail {
                                color: #666;
                                font-size: 16px;
                                line-height: 26px;
                                white-space: normal;
                                width: 360px;
                            }
                        }
                    }
                }
            }
        }
    }
}